@font-face {
    font-family: "VivaldiD CL";
    src: url("../assets/fonts/VIVADCL_.TTF") format("ttf")
}
@font-face {
    font-family: "Arial Narrow";
    src: url("../assets/fonts/6428.ttf") format("ttf")
}
@font-face {
    font-family: "Arial";
    src: url("../assets/fonts/9041.ttf") format("ttf")
}
@font-face {
    font-family: "Codec Cold Trial";
    src: url("../assets/fonts/Codec-Cold-News-trial.ttf") format("ttf")
}
@font-face {
    font-family: 'Codec Cold News Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Codec Cold News Italic'), url('../assets/fonts/codec/Codec-Cold-News-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Codec Cold Trial News';
    font-style: normal;
    font-weight: normal;
    src: local('Codec Cold Trial News'), url('../assets/fonts/codec/Codec-Cold-News-trial.woff') format('woff');
}
#containerId{
    position: relative;
    height: 100%;
}
body{
    background: url(../assets/images/bg.jpg) 0 100% no-repeat;
    background-size: 100% 100%;
}
body.home-page {
    background: url(../assets/images/main-footer.jpg) 0 100% no-repeat;
    background-size: 100% auto;}
.home-page #headerTotal {
    flex: 0 0 auto;
    background: url(../assets/images/book.jpg) no-repeat 0 0;
    background-size: 100%;
    min-height: 729px;
}
img{
    max-width: 100%;
}
#bodyContainer {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    /* padding-bottom: 220px; /* height of your footer */
}
#footerId{
/* position: absolute; */
 bottom: 0;
 width: 100%;
 opacity: .8;
}
#containerMenu{
 width: 100%;
 height: 100%;
}
#content{
    visibility: visible; !important
}
.bg-dark-blue{

 opacity: .9;
 position: relative;
 padding: 1rem 1rem;
 z-index: 10;
}
.search input{
 padding-right: 40px;
 background: rgba(255,255,255,.7);
 border: none;
 outline: none;
 box-shadow: none;

 border: 1px #404f6e solid;
}


.navbar-brand {
 padding-left: 8px;
}
.search{
 position: relative;
}
.search i{
 position: absolute;
 top: 8px;
 right: 26px;
 color: rgba(255,255,255,.25);
 font-size: 20px;
}
.search-line{
 position: relative;
 z-index: 10;
}
.langs {
 position: relative;
}
.navbar-dark .navbar-nav .nav-link, .langs a{
 color: #404f6e;
 text-transform: uppercase;
 font-family: "Arial Narrow";
 font-weight: 700;
 font-size: 18px;
 position: relative;
}
.navbar-dark .navbar-nav .nav-link:after{
 content: '';
 display: none;
 position: absolute;
 bottom: -15px;
 left: 50%;
 border: 10px solid;
 border-color: #404f6e transparent transparent transparent;
 margin-left: -10px;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
 color: #404f6e
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
 color: #404f6e;
}

.navbar-dark .navbar-nav .nav-link:focus:after, .navbar-dark .navbar-nav .nav-link:hover:after,
.navbar-dark .navbar-nav .active .nav-link:after{
 display: block;
}
.navbar-dark .navbar-toggler{
 background:#404f6e;
}
.langs a{
 color:#404f6e;
 margin: 0 5px;
 position: relative;
 top: 2px;
}
.langs a.active{
 text-decoration: underline;
}

.langs .dropdown-menu-left a{
 color: #525C97;
 margin: 0;
}
header .logo img{
 width: 125px;
}
.sign-in{
 color: rgba(255,255,255,.5);
 text-decoration: none;
}
.sign-in:hover{
 color: rgba(255,255,255,1);
 text-decoration: none;
}

.search input:focus{
 background: rgba(255,255,255,.5);
 outline: none;
 box-shadow: none;

 border: 1px #404f6e solid;
}

. bd-inner-sidebar{
 background: #A896CB;
 opacity: .9;
}

.bd-sidebar {
 order: 0;
 background-color: #f5f2f9;
 border-bottom: 1px solid rgba(0, 0, 0, .1);
}

a{
 color: #3D4C69
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
 color: #fff;
 background-color:#f08143;
 border-color: #da753c;
}
.page-link{
 border: none
}
.navbar-expand-lg .navbar-nav .dropdown-menu{

}

.footer-color h3 {
 margin-bottom: 10px;
 padding: 10px;
 color: #ffffff;
 font-size: large;
}
.footer-color-mini h3 {
 margin-bottom: 10px;
 padding: 10px;
 color: #404f6e;
 font-size: large;
}
/*footer icon*/
footer .social a{
    margin: 0 3px;
    background: #fff;
    color: #080D2F ;
    width: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    height: 30px;
    line-height: 27px;
    box-sizing: border-box;
    border: 1px #fff solid;
}
footer .social a:hover{
    color:#fff ;
    background: transparent;
    border: 1px #fff solid;
}
/*--------------------*/
/*social icon home*/
.social-home a{
    margin: 0 3px;
    background: #404f6e;
    color: #fff ;
    width: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    height: 30px;
    line-height: 27px;
    box-sizing: border-box;
    border: 1px #fff solid;
}
.social-home a:hover{
    color:#fff ;
    background: transparent;
    border: 1px #fff solid;
}
/*social icon mini*/
.social-mini a{
    margin: 0 3px;
    background: #404f6e;
    color: #fff ;
    width: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    height: 30px;
    line-height: 27px;
    box-sizing: border-box;
    border: 1px #fff solid;
}
.social-mini a:hover{
    color:#fff ;
    background: transparent;
    border: 1px #fff solid;
}

/*--------------------*/
.footer-middle{
    text-align:center;
}

.cover {
    object-fit: cover;
}

.author-name{
    color: #404f6e;
    text-transform: uppercase;
    font-family: "Arial Narrow";
    font-weight: 700;
}
.page-item.disabled .page-link.prev:before{
    content:'';
    display: block;
    border: 20px solid;
    border-color: transparent #ddd transparent transparent;
}

.page-item.disabled .page-link.next:before{
    content:'';
    display: block;
    border: 20px solid;
    border-color: transparent  transparent transparent #ddd;
}

.page-item .page-link.prev:before{
    content:'';
    display: block;
    border: 20px solid;
    border-color: transparent #404f6e transparent transparent;
}

.page-item .page-link.next:before{
    content:'';
    display: block;
    border: 20px solid;
    border-color: transparent  transparent transparent #404f6e;
}

.likes-views{
    font-size: 14px;
    color:#333;
    margin-top: 0px;
    margin-left: 4px;
    padding-left: 34px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-default{
    background: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
    padding: .375rem 3.75rem;
    float: right;
    margin-right: 100px;
}
.btn-default-shop{
    background: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
    padding: .375rem 3.75rem;
    float: right;
}
.header-main{
    background: url(../assets/images/header.jpg) no-repeat 100% 0;
    background-size:  contain;
    min-height: 529px;
}
.row-1{
     background: url(../assets/images/girl.jpg) no-repeat 100% 0;
     background-size: contain;
 }

.row-2{

}
.books-row2{
    position: absolute;
    bottom: -65px;
    right: -180px;
    z-index: 10;
}
.calendar-home{
    background: #b7cae6;

    text-align: center;
}


.calendar-home .first-col{
    color: #fff;
    background: #404f6e;
    position: relative;
    font-family: "VivaldiD CL";
    font-size: 2em;
    line-height: 110%;
}
.calendar-home .first-col:after{
   content:'';
    display: block;
    border: 56px solid;
    border-color: transparent transparent transparent #404f6e;
    position: absolute;
    top: 0;
    left: 100%;
}
.calendar-home .first-col:before{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    width: 300px;
    height: 100%;
    background: #404f6e;
}
.calendar-home .data{
    font-family: "VivaldiD CL";
    font-size: 2em;
    font-weight: 700;

}
.bg-blue{
    background: #b7cae6;
    min-height: 536px;
}
.width-100{
    width: 100%
}

bloquote{
    position: relative;
    font-family: 'Codec Cold Trial News';
    padding-left: 60px;
    display: block;

}
bloquote:before{
    content: open-quote;
    position: absolute;
    left: 0;
    top: -35px;
    font-size: 90px;
    font-family: 'Codec Cold News Italic';
    font-style: italic;
}

.home-footer{

    background-size: 100% auto;
}
.home-footer h3{
    font-size: 3em;
}
.home-footer h3 small{
    display: block;
    font-family: "VivaldiD CL";
    font-size: .7em;
    font-weight: 700;
}

.home-footer form{
    background: rgba(255,255,255,0.5);
    border: 1px solid #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5), inset 0 0 15px rgba(0,0,0,0.5);
    border-radius: 15px;
    padding: 30px;
    margin: 30px 0;
}

@supports (mix-blend-mode: lighten) {
    .home-footer h3 span {
        display: inline-block;
        position: relative;
        color: #000;
        background: #fff;
        mix-blend-mode: multiply;
    }
    .home-footer h3 span::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right,#e59882, #faaa54, #ab7a7e, #c7958f, #b7a6c1);
        pointer-events: none;
    }
    .home-footer h3 span::before {
        mix-blend-mode: screen;
    }
}

.container.authors {
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    margin-top: 15px;
    padding: 10px 20px;
}

h1{
    font-family: "VivaldiD CL";
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin: 20px 0 30px 0
}
h1:before{
    content: '';
    display: block;
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    border-top: 2px #ddd solid
}
h1 span{
    background: #fff;
    position: relative;
    display: inline-block;
    padding: 0 20px;
}
/*main page footer authorization*/
h2{
    font-family: "Arial";
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin: 20px 0 30px 0;
    color: rgb(74, 88, 116);
}
h2:before{
    content: '';
    display: block;
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    border-top: 2px #ddd solid
}
h2 span{
    background: #D5BDBF;
    position: relative;
    display: inline-block;
    padding: 0 20px;
}
.author-book-header h3{
    font-size: 40px;
    font-family: "ArialNarrow";
    color: rgb(0, 3, 6);
    font-weight: bold;
    line-height: 1.2;
    margin-left: 345px;
    margin-top: 80px;
}

/*/////////////////*/
.author img{
    border-radius: 50%;
}

.form-inline {
    flex-flow: row;
    width: 100%;
}
.form-inline .form-control{
    width: 100%;
}

.btn-outline-blue, .btn-primary{
    background: #404f6e;
    color: #fff;
    font-family: "Arial";
    border: none

}
.btn-outline-blue:hover, .btn-primary:hover{
    background: #354159;
    color: #fff
}
.btn-outline-blue:focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active{
    background: #354159;
    color: #fff;
    box-shadow: none;
    outline: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.img-thumbnail{
    border-width: 3px;
}

/*/////////////////////////*/

h4{
    font-size: 16px;
    font-family: "Arial";
    color: rgb(64, 79, 110);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    text-decoration: none;
}
h4:hover,
h4:not(:disabled):not(.disabled).active:focus,
h4:not(:disabled):not(.disabled):active{
    font-size: 16px;
    font-family: "Arial";
    color: rgb(64, 79, 110);
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    text-decoration: underline;
}
.tr{
    font-size: 16px;
    font-family: "Arial";
    color: rgb(64, 79, 110);
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
}
.tr-active{
    font-size: 16px;
    font-family: "Arial";
    color: rgb(64, 79, 110);
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    text-decoration: underline;
}
.container-authors-full{
    display: flex;
    flex-direction: row;

}
.text-right {
    text-align: left!important;
}

.bg-book {
    color:red;
}
h6{
    font-size: 12px;
    font-family: "ArialNarrow";
    color: rgb(144, 151, 161);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
}
h5{
    font-size: 18px;
    font-family: "ArialNarrow";
    font-weight: bold;
    color: rgb(0, 3, 6);
    line-height: 1.2;
    text-align: center;
}
/*/////////////////*/
.bg-verse-container {
}
.bg-verse{
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    background-size: 100% 100%;
    padding: 50px;
    display: flex;
    margin-bottom: 30px;
}
.verse-part-container {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
    min-height: 360px;
}
.verse-part-container .verse-part {
    display: flex;
    flex: 1;
    position: absolute;
    width: 61%;
    top: 0;
    height: 100%;
    padding: 50px 70px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.verse-part-container .verse-part.left {
    background-image: url(../assets/images/verse-part-left.jpg);
    left: -12%;
}
.verse-part-container .verse-part.right {
    background-image: url(../assets/images/verse-part-right.jpg);
    right: -12%;
}
.verse-part-container .verse-part p {
    font-size: 14px;
    font-weight: 500;
}
.verse-part-container .verse-part:first-child {
    margin-right: 100px;
}

 /*-----------*/
.book-card {
    padding: 10px;
    background-color: #E6D6D4;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-card img {
    height: auto;
    max-width: 150px;
}
.book-card .book-card-image {
    display: inline-block;
    box-shadow: 3px 3px 12px 0 rgba(0,0,0,.5);
    margin-bottom: 10px;
}
.book-card .book-card-body {
    padding: 10px;
    width: 100%;
}


.bg-pink{
    color: red;
    background: url(../assets/images/bg-book.jpg) no-repeat 100% 0;
    position: relative;
    z-index: 10;
    background-size: 100% 100%;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel-body {
    overflow-y: scroll;
    height: 350px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}







@media screen and (max-width: 1100px){
    .books-row2{
        display: none;
    }
}

@media screen and (max-width: 992px){
    .navbar-collapse{
        background: rgba(255, 255, 255, 1);
        margin-top: 25px;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
    }
    .navbar-dark .navbar-nav .nav-link:focus:after,
    .navbar-dark .navbar-nav .nav-link:hover:after,
    .navbar-dark .navbar-nav .active .nav-link:after{
        display: none;
    }
    .navbar-dark .navbar-nav .active .nav-link{
        text-decoration: underline;
    }
}

@media screen and (max-width: 768px){
    #headerTotal{
        min-height: auto;
        background-size: auto 100%;
        background-position: 50% 0;
    }
    .btn-default{
        margin-right: 0;
    }
    .row-1{
        background:none
    }
    .row-3 .col-md-4+.col-md-4{
        margin-top: 30px
    }
    body{
    background: url(../assets/images/main-footer.jpg) 25% 100% no-repeat;
    background-size: auto;
    }

}


@media screen and (max-width: 400px){
    .home-page #headerTotal{
        min-height: auto;
        background-size: auto 181px;
        background-position: 50% 0;
    }

}